language: go
sudo: false
notifications:
  email: false
before_install:
  - wget -O glide.tar.gz https://github.com/Masterminds/glide/releases/download/0.10.2/glide-0.10.2-linux-amd64.tar.gz
  - tar -zxvf glide.tar.gz
  - mv ./linux-amd64/glide .
  - rm -Rvf linux-amd64
  - ./glide install
  - rm glide
addons:
  code_climate:
    repo_token: 74d6c110184c7bcd503dbca04e46bcd84e2d1d55bf813f6e78a693765d0e956d
go:
  - 1.3
  - 1.4
  - 1.5
  - 1.6
env:
  - GO15VENDOREXPERIMENT=1
script: go test -v --race -coverprofile=gimple.coverprofile $(go list ./... | grep -v /vendor/)
after_script:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < gimple.coverprofile
